@import "./../../style/flex.scss";

$panelColor: #fff;
$headerColor: #ffe300;

.panel {
  @include flexCenter(column);
  margin: 20px 0;
  max-width: 1200px;

  header{
    h1 {
      color: $headerColor;
    }
  } 

  header.fontJedi {
    font-family: "Star Jedi", Arial, Helvetica, sans-serif !important;
  }

  .panel-body {
    @include flexCenter(column);
    border: 1px solid $panelColor;
    padding: 40px 40px;
    margin: 20px 20px;
    border-radius: 20px;
  }

  .flex-row {
    flex-direction: row;
  }

  .alignStart {
    align-items: flex-start;
  }
}

