@import "./../../style/flex.scss";

.films {
    .episode{
        text-align: center;
        border-top: 1px solid;
        border-bottom: 1px solid;
        margin-bottom: 5px;
        padding: 0px 10px;
    }
    .filmTitle{
        text-align: center;
        font-size: 0.6em;
    }
    flex-basis: 250px;
    @include flexCenter(column);
  
    .img50 {
      height: 50px;
    }
  
    .img100 {
      height: 100px;
    }
  }