@import "./style/flex.scss";
@import "./style/fonts.scss";

html {
  @include flexCenter(column);
  height: 100%;
  margin: 0px 0px;

  body {  
    $color: #fff;
    $linkHover: silver;
    $backgroundColor: #000;
    background-image: url("./assets/stars.jpg") !important;
    background-repeat: repeat;
    color: $color;
    background: $backgroundColor;
    font-size: large;
    font-family: "Cinzel", Arial, Helvetica, sans-serif;

    a {
      color: $color;
      margin: 10px 0;
      font-weight: bold;
      text-decoration: none;
      &:hover {
        color: $linkHover;
      }
      &:active {
        color: $color;
      }
    }

    li {
      list-style-type: none;
    }
    
  }
}


